.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(179,229,255);
  background: linear-gradient(135deg, rgba(179,229,255,1) 56%, rgba(240,98,146,1) 56%);
  font-family: 'Schoolbell', cursive;
}